.userList {
  max-height: 10.5rem;
  overflow-y: auto;
  border-radius: 0.25rem;
  box-shadow: 0px 10px 30px 0px #2e3e9a1a;
  margin-top: 0.05rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(63, 66, 84, 0.15) transparent;
}

.userList::-webkit-scrollbar-track {
  background: transparent;
}

.userList::-webkit-scrollbar-thumb {
  background-color: #3f4254;
  opacity: 0.15;
  border-radius: 4px;
}

.userList::-webkit-scrollbar {
  width: 2px;
}
